//- Jade form mixins

//- Input fields mixin
mixin input(inputlabel,inputtype, inputname, inputid, inputplaceholder)
	label(for=inputid)&attributes(attributes)
	span= inputlabel
	input(type=inputtype,name=inputname,id=inputid,placeholder=inputplaceholder)
	
//- Select fields mixin
mixin select(selectlabel,selectname,options)
	label&attributes(attributes)= selectlabel
	select(name=selectname)
		each obj in options
			option(value="#{obj}") #{obj}